.anchor-pane {
	-fx-background-color: #000;
}

.excercise-tile {
	-fx-background-color: #fff;
	-fx-padding: 10px;
}

.excercise-tile .excercise-header {
	-fx-font-weight: bold;
	-fx-font-size: 20px;
}

.excercise-tile .excercise-description {
	-fx-font-size: 14px;
}