.exercises {
	-fx-background-color: #eee;
	-fx-padding: 20px;
}

.exercise-tile {
	-fx-background-color: #fff;
	-fx-padding: 14px;
	-fx-cursor: hand;
}

.exercise-tile .exercise-header {
	-fx-font-weight: bold;
	-fx-font-size: 20px;
}

.exercise-tile .exercise-description {
	-fx-font-size: 14px;
}

.exercise-tile:hover {
	-fx-border-color: #50c878;
	-fx-border-width: 0 0 0 4px;
	-fx-padding: 14px 14px 14px 10px;
	/*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.45), 15, 0, 0, 0);*/
}